@using System.Activities.Statements
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>@ViewData["Title"] - WebApplication</title>
	<link rel="stylesheet" href="~/Content/site.css"/>
	<link rel="stylesheet" href="~/Content/bootstrap.css"/>
	<link rel="stylesheet" href="~/Content/bootstrap-theme.css"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			@Html.ActionLink("TrainingSite", "Index", "Home", null, new {@class = "navbar-brand"})
		</div> 
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				@{
					if (User.IsInRole("Admin"))
					{
						<li>@Html.ActionLink("Departments", "Index", "Departments")</li>
						<li>@Html.ActionLink("Users", "Index", "Users")</li>
						<li>@Html.ActionLink("Groups", "Index", "Groups")</li>
						<li>@Html.ActionLink("Positions", "Index", "Positions")</li>
					}
				}
			
			</ul>
			<ul class="nav navbar-nav navbar-right">
				@{
					if (User.Identity.IsAuthenticated)
					{
						<li>@Html.ActionLink("LogOut", "Logoff", "Account")</li>
					}
					else
					{
						<li>@Html.ActionLink("Login", "Login", "Account")</li>
						<li>@Html.ActionLink("Reister", "Register", "Account")</li>
					}
				}		
			</ul>
			
		</div>
	</div>
</div>
<div class="container body-content">
	@RenderBody()
	<hr/>
	<footer>
		<p>&copy; 2016 - TrainingSite</p>
	</footer>
</div>

<environment names="Development">
	<script src="~/Scripts/jquery-1.9.1.js"></script>
	<script src="~/Scripts/bootstrap.js"></script>
	<script src="~/Scripts/site.js"></script>
</environment>

@RenderSection("scripts", required: false)
</body>
</html>